/* Denna fil skall innehålla din CSS kod */

* {
    margin: 0;
    font-family: TheBoldFont; /*sätter rätt font på all text på hemsidan*/
}

body {
    background-image: url(../img/background.jpg); 
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#container {
    display: grid;
    width: 100vw;
    height: 225vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 5fr 4fr 4fr 2fr;
    grid-template-areas: 
    'lo hd2'
    'iB iB' 
    'aC aC'
    'aC aC'
    'fo1 fo2';
}

#header {
    grid-area: hd2;
}

#innerBlank {
    grid-area: iB;
    display: grid;
    width: 100vw;
    height: 75vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr; 
    grid-template-areas:
    'bl1'
    'bl2';
}

#blank1 {                    /*blank = platsen där citatet på förstasidan står*/
    grid-area: bl1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#blank2 {
    grid-area: bl2;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


#articleContainer {          /*Container för navigationsboxarna*/
    background-image: url(../img/woodbackground.jpg);
    background-size: 100vw 100vh;
    display: grid;
    grid-area: aC;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#Meny {
    display: grid;
    margin: 50px;
    margin-left: 150px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    background-image: url(../img/grill.jpg);
    background-size: 200%;
    background-repeat: no-repeat;
}

.meny {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.button {
    border: solid rgb(19, 19, 19);
    background: rgb(255, 255, 255);
    transition: 0.5s;
    padding: 10px 5px;
    font-size: 100%;
}

.button:hover { 
    background: rgb(19, 19, 19);
    color: rgb(255, 255, 255);
}


#Snacks {
    display: grid;
    background: rgb(255, 255, 255);
    margin: 50px;
    margin-right: 150px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    background-image: url(../img/siders.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.snacks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#FindUs {
    display: grid;
    background: rgb(255, 255, 255);
    margin: 50px;
    margin-left: 150px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    background-image: url(../img/booking.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.findUs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: rgb(255, 255, 255);
}

#Opening {
    display: grid;
    background: rgb(255, 255, 255);
    margin: 50px;
    margin-right: 150px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    background-image: url(../img/restaurant.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.opening {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: rgb(255, 255, 255);
}

#footer1 {
    grid-area: fo1;
    height: 25vh;
    width: 52.5vw;
    background: rgb(19, 19, 19);
    background-image: url(../img/logoGray.svg);
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: right;
}

#footer2 {
    display: flex;
    grid-area: fo2;
    height: 25vh;
    background: rgb(19, 19, 19);
    justify-content: flex-end;
}

#linkDown {
    margin-bottom: 10%; /*sätter margin på den lilla pilen mitt på hemsidan*/
}

html {
    scroll-behavior: smooth; /*för att scrollfunktionen när man trycker på pilen ska va smooth*/
}

#logo {
    grid-area: lo;
    margin: 25px;
    position: -webkit-sticky;
  position: sticky;
  top: 25px;
}

@font-face {
    font-family: TheBoldFont;
    src: url(theboldfont.ttf)  /*Eget typsnitt inlagt då det inte finns i code från början*/
}

h2 {
    font-size: 300%;
    color: rgb(255, 255, 255);
}

h3 {
    font-size: 200%;
    color: rgb(255, 255, 255);
    margin-top: 10%;
}

h4 {
    color: rgb(83, 83, 83);
    margin: 2%;
}

#planering:link {
    color: rgb(83, 83, 83);
    text-decoration: none;
}

#planering:visited {
    color: rgb(83, 83, 83);
    text-decoration: none;
}

#planering:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#plats:link {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#plats:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#plats:hover {
    color: rgb(83, 83, 83);
    text-decoration: none;
}

#insta:link {
    color: rgb(83, 83, 83);
    text-decoration: none;
}

#insta:visited {
    color: rgb(83, 83, 83);
    text-decoration: none;
}

#insta:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/*---------------Här nedan kommer kod för sida "meny"------------------------------*/

#indexMenu {
    background-image: url(../img/woodbackground.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat, repeat;
}

#menuContainer {
    display: grid;
    width: 100vw;
    height: 250vh;
    grid-template-columns: 1fr 4fr 4fr 1fr;
    grid-template-rows: 1fr 5fr 5fr 5fr 1fr;
    grid-template-areas: 
    'mlo mhe mhe .'
    '. mar1 mar2 .'
    '. mar3 mar4 .'
    '. mar5 mar6 .'
    'mfo1 mfo1 mfo2 mfo2';
}

#menuHeader {
    grid-area: mhe;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    background-image: url(../img/grill.jpg);
    background-size: 100%;
}

#menuLogo {
    grid-area: mlo;
    margin: 25px;
    position: -webkit-sticky;
  position: sticky;
  top: 25px;
}

#menuArticle1 {
    grid-area: mar1;
    background: rgb(255, 255, 255);
    margin-right: 4%;
    margin-top: 4%;
    background-image: url(../img/burger1.jpg);
    background-size: 130%;
    background-position: center;
    color: rgb(255, 255, 255);
    padding: 2%;
}
#menuArticle2 {
    grid-area: mar2;
    background: rgb(255, 255, 255);
    margin-left: 4%;
    margin-top: 4%;
    background-image: url(../img/burger2.jpg);
    background-size: 110%;
    color: rgb(255, 255, 255);
    padding: 2%;
}

#menuArticle3 {
    grid-area: mar3;
    background: rgb(255, 255, 255);
    margin-right: 4%;
    margin-top: 4%;
    background-image: url(../img/burger2.jpg);
    background-size: 110%;
    color: rgb(255, 255, 255);
    padding: 2%;
}

#menuArticle4 {
    grid-area: mar4;
    background: rgb(255, 255, 255);
    margin-left: 4%;
    margin-top: 4%;
    background-image: url(../img/burger1.jpg);
    background-size: 130%;
    background-position: center;
    color: rgb(255, 255, 255);
    padding: 2%;
}

#menuArticle5 {
    grid-area: mar5;
    background: rgb(255, 255, 255);
    margin-right: 4%;
    margin-top: 4%;
    background-image: url(../img/burger1.jpg);
    background-size: 130%;
    background-position: center;
    color: rgb(255, 255, 255);
    padding: 2%;
}

#menuArticle6 {
    grid-area: mar6;
    background: rgb(255, 255, 255);
    margin-left: 4%;
    margin-top: 4%;
    background-image: url(../img/burger2.jpg);
    background-size: 110%;
    color: rgb(255, 255, 255);
    padding: 2%;
}

#menuFooter1 {
    grid-area: mfo1;
    height: 25vh;
    width: 53vw;
    background: rgb(19, 19, 19);
    margin-top: 4%;
}

#menuFooter2 {
    display: flex;
    grid-area: mfo2;
    height: 25vh;
    background: rgb(19, 19, 19);
    justify-content: flex-end;
    margin-top: 4%;
}

/*---------------Här nedan kommer kod för sida "snacks & dricka"------------------------------*/

 #indexSnacks {
    background-image: url(../img/woodbackground.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat, repeat;
}

#snacksContainer {
    display: grid;
    width: 100vw;
    height: 250vh;
    grid-template-columns: 1fr 4fr 4fr 1fr;
    grid-template-rows: 1fr 5fr 5fr 5fr 1fr;
    grid-template-areas: 
    'mlo mhe mhe .'
    '. mar1 mar2 .'
    '. mar3 mar4 .'
    '. mar5 mar6 .'
    'sfo1 sfo1 sfo2 sfo2';
}

#snacksHeader {
    grid-area: mhe;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    background-image: url(../img/siders.jpg);
    background-size: 100%;
}

#snacksLogo {
    grid-area: mlo;
    margin: 25px;
    position: -webkit-sticky;
  position: sticky;
  top: 25px;
}

#snacksArticle1 {
    grid-area: mar1;
    background: rgb(255, 255, 255);
    margin-right: 4%;
    margin-top: 4%;
    background-image: url(../img/sweetpotatofries.jpg);
    background-size: 100%;
    background-position: center;
    color: rgb(255, 255, 255);
    padding: 2%;
}
#snacksArticle2 {
    grid-area: mar2;
    background: rgb(255, 255, 255);
    margin-left: 4%;
    margin-top: 4%;
    background-image: url(../img/potatofries.jpg);
    background-size: 110%;
    color: rgb(255, 255, 255);
    padding: 2%;
}

#snacksArticle3 {
    grid-area: mar3;
    background: rgb(255, 255, 255);
    margin-right: 4%;
    margin-top: 4%;
    background-image: url(../img/beer.jpg);
    background-size: 110%;
    color: rgb(0, 0, 0);
    padding: 2%;
}

#snacksArticle4 {
    grid-area: mar4;
    background: rgb(255, 255, 255);
    margin-left: 4%;
    margin-top: 4%;
    background-image: url(../img/sweetpotatofries.jpg);
    background-size: 100%;
    background-position: center;
    color: rgb(255, 255, 255);
    padding: 2%;
}

#snacksArticle5 {
    grid-area: mar5;
    background: rgb(255, 255, 255);
    margin-right: 4%;
    margin-top: 4%;
    background-image: url(../img/potatofries.jpg);
    background-size: 110%;
    background-position: center;
    color: rgb(255, 255, 255);
    padding: 2%;
}

#snacksArticle6 {
    grid-area: mar6;
    background: rgb(255, 255, 255);
    margin-left: 4%;
    margin-top: 4%;
    background-image: url(../img/beer.jpg);
    background-size: 110%;
    color: rgb(255, 255, 255);
    padding: 2%;
}

.black {
    color: rgb(0, 0, 0);
}

#snacksFooter1 {
    grid-area: sfo1;
    height: 25vh;
    width: 53vw;
    background: rgb(19, 19, 19);
    margin-top: 4%;
}

#snacksFooter2 {
    display: flex;
    grid-area: sfo2;
    height: 25vh;
    background: rgb(19, 19, 19);
    justify-content: flex-end;
    margin-top: 4%;
}